@model AspTextEditor.ViewModels.BlogPageViewModel

@{
    ViewData["Title"] = Model.Title;
}

<a asp-controller="Blog" asp-action="Index">&lt;&lt; Ко всем записям блога</a>

<h1>@Model.Title</h1>

@if (User.Identity!.IsAuthenticated)
{
    <p>
        <a asp-action="Edit" asp-route-slug="@Model.Slug">Редактировать</a>
    </p>
}
else
{
    <p>
        <a asp-controller="Account" asp-action="Login" asp-route-slug="@Model.Slug">Войдите</a>, чтобы отредактировать
    </p>
}


<div>
    @Html.Raw(Model.HtmlContent)
</div>

<hr />
<p>
    Автор: @(Model.AuthorName), @(Model.CreatedAt)
</p>
